body, input, button {
	font-family: 'system-ui', 'BlinkMacSystemFont', '-apple-system', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';;
	color: #261e66;
	font-size: 18px;
}
h2 {
	border-top: 2px solid #b0a6ff;
	padding-top: 20px;
	margin: 40px 0 20px 0;
    text-align: center;
}
h3 {
	text-align: center;
}
.container {
	max-width: 1080px;
	margin: 0 auto;
}
.wrapper {
    display: grid;
    gap: 15px 15px;
    grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
}
.page-header {
	text-align: center;
}

fieldset {
	position: relative;
	padding: 15px;
	border: 2px dotted #5c4ae2;
	min-height: 135px;
}
fieldset legend {
	font-weight: 700;
	font-size: 18px;
}
#default-color {
	display: none;
}
.delete-color {
    position: absolute;
    bottom: -2px;
    right: -12px;
    padding: 5px 10px;
    width: auto;
    font-size: 16px;
}
.color {
	display: block;
    margin: 0 0 10px 0;
}
.submit-wrapper {
	margin: 20px 0;
	text-align: center;
}
input, button {
    border-radius: 0px;
    border: 1px solid #5c4ae2;
    margin: 0 10px 0 10px;
    padding: 5px 10px;
    font-size: 19px;
    color: #5c4ae2;
    background-color: #fff;
}
input:hover, button:hover, input:focus, button:focus {
	-webkit-box-shadow: 0 0 10px 0 #b0a6ff;
	box-shadow: 0 0 10px 0 #b0a6ff;
	background-color: #fff;
}
input:focus, button:focus {
	outline: 1px solid #5c4ae2;
}
[type="submit"], button {
	width: 30%;
	padding: 10px;
}

[type="submit"] {
	background: #5c4ae2;
	color: #fff;
	
}
[type="submit"]:hover, [type="submit"]:focus {
	background-color: #261e66;
	color: #fff;
	text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 40px 0;
    padding: 0;
}
nav ul li {
	margin: 5px 10px;
}